#footer{
    display: flex;
    justify-content: center;
    height: 48px;
    width: 100%;
    background-color: white;
    padding: 28px 0;
    .mainbox{
        display: flex;
        width: 1320px;
        height: 40px;
        .text{
            display: flex;
            width: 440px;
            height: 40px;

            p{
                margin: 7px;
                color: #212529;
                font-size: 15.4px;
                font-weight: 400;
                font-family: "Montserrat", -apple-system, BlinkMacSystemFont, "Segoe UI",
                Roboto, "Helvetica Neue", Arial, sans-serif, "Apple Color Emoji",
                "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
            }
        }

        .icons{
            display: flex;
            justify-content: center;
            width: 440px;
            height: 40px;

            .links {
                display: flex;
                justify-content: space-between;
                height: 40px;
                width: 160px;
        
                .part1 {
                  display: flex;
                  justify-content: center;
                  align-items: center;
                  width: 40px;
                  height: 40px;
                  border-radius: 50%;
                  background-color: #212529;
                  cursor: pointer;
                  a {
                    i {
                      color: #fff;
                      font-size: 16px;
                    }
                  }
                }
        
                .part2 {
                  display: flex;
                  justify-content: center;
                  align-items: center;
                  width: 40px;
                  height: 40px;
                  border-radius: 50%;
                  background-color: #212529;
                  cursor: pointer;
                  a {
                    i {
                      color: #fff;
                      font-size: 16px;
                    }
                  }
                }
        
                .part3 {
                  display: flex;
                  justify-content: center;
                  align-items: center;
                  width: 40px;
                  height: 40px;
                  border-radius: 50%;
                  background-color: #212529;
                  cursor: pointer;
                  a {
                    i {
                      color: #fff;
                      font-size: 16px;
                    }
                  }
                }
              }
        }

        .privacy{
            display: flex;
            justify-content: right;
            width: 440px;
            height: 40px;
            a{
                text-decoration: none;
                margin: 7px;
                color: #212529;
                font-size: 15.4px;
                font-weight: 400;
                font-family: "Montserrat", -apple-system, BlinkMacSystemFont, "Segoe UI",
                Roboto, "Helvetica Neue", Arial, sans-serif, "Apple Color Emoji",
                "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";

            }
        }
    }
}