#portfolio {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #e3e5e6;
    width: 100%;
    height: 130vh;
    padding: 96px 0;
  
    h4 {
      text-align: center;
      font-size: 40px;
      margin-bottom: 16px;
      color: #212529;
      font-weight: 650;
      font-family: "Montserrat", -apple-system, BlinkMacSystemFont, "Segoe UI",
        Roboto, "Helvetica Neue", Arial, sans-serif, "Apple Color Emoji",
        "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
    }
    p {
      text-align: center;
      font-size: 16px;
      color: #6c757d;
      font-style: italic;
      font-weight: 500;
      margin-bottom: 64px;
      font-family: "Roboto Slab", -apple-system, BlinkMacSystemFont, "Segoe UI",
        Roboto, "Helvetica Neue", Arial, sans-serif, "Apple Color Emoji",
        "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
    }
    .mainc {
      display: flex;
      flex-wrap: wrap;
      width: 1330px;
      height: 896px;
  
      .threads {
        flex-wrap: wrap;
        width: 440px;
        height: 420px;
        margin: 0 0 24px;
  
        .logo {
          margin-left: 10px;
          background-image: url(https://startbootstrap.github.io/startbootstrap-agency/assets/img/portfolio/1.jpg);
          background-size: cover;
          background-repeat: no-repeat;
          background-size: contain;
          width: 416px;
          height: 312px;
  
        }
        .caption {
          margin-left: 11px;
          justify-content: center;
          background-color: #fff;
          text-align: center;
          padding: 24px;
          width: 367px;
          height: 60px;
          h1 {
            margin-bottom: 5px;
            font-size: 24px;
            font-weight: 700;
            font-family: "Montserrat", -apple-system, BlinkMacSystemFont,
              "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif,
              "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol",
              "Noto Color Emoji";
            color: #212529;
          }
          p {
            font-weight: 400;
          }
        }
        .plus {
          i {
            display: none;
          }
        }
        .logo:hover {
          .plus {
            position: absolute;
            background-color: rgba(255, 200, 0, 0.9);
            width: 416px;
            height: 312px;
            display: flex;
            justify-content: center;
            align-items: center;
            transition: 0.2s linear;
            i {
              font-size: 60px;
              color: #fff;
              display: flex;
            }
          }
        }
      }
  
      .explore {
        width: 440px;
        height: 420px;
        margin: 0 0 24px;
        .logo {
          margin-left: 10px;
          background-image: url(https://startbootstrap.github.io/startbootstrap-agency/assets/img/portfolio/2.jpg);
          background-size: cover;
          background-repeat: no-repeat;
          background-size: contain;
          width: 416px;
          height: 312px;
        }
        .caption {
          margin-left: 11px;
          justify-content: center;
          background-color: #fff;
          text-align: center;
          padding: 24px;
          width: 367px;
          height: 60px;
          h1 {
            margin-bottom: 5px;
            font-size: 24px;
            font-weight: 700;
            font-family: "Montserrat", -apple-system, BlinkMacSystemFont,
              "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif,
              "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol",
              "Noto Color Emoji";
            color: #212529;
          }
          p {
            font-weight: 400;
          }
        }
        .plus {
          i {
            display: none;
          }
        }
        .logo:hover {
          .plus {
            position: absolute;
            background-color: rgba(255, 200, 0, 0.9);
            width: 416px;
            height: 312px;
            display: flex;
            justify-content: center;
            align-items: center;
            transition: 0.2s linear;
            i {
              font-size: 60px;
              color: #fff;
              display: flex;
            }
          }
        }
      }
  
      .finish {
        width: 440px;
        height: 420px;
        margin: 0 0 24px;
        .logo {
          margin-left: 10px;
          background-image: url(https://startbootstrap.github.io/startbootstrap-agency/assets/img/portfolio/3.jpg);
          background-size: cover;
          background-repeat: no-repeat;
          background-size: contain;
          width: 416px;
          height: 312px;
        }
        .caption {
          margin-left: 11px;
          justify-content: center;
          background-color: #fff;
          text-align: center;
          padding: 24px;
          width: 367px;
          height: 60px;
          h1 {
            margin-bottom: 5px;
            font-size: 24px;
            font-weight: 700;
            font-family: "Montserrat", -apple-system, BlinkMacSystemFont,
              "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif,
              "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol",
              "Noto Color Emoji";
            color: #212529;
          }
          p {
            font-weight: 400;
          }
        }
        .plus {
          i {
            display: none;
          }
        }
        .logo:hover {
          .plus {
            position: absolute;
            background-color: rgba(255, 200, 0, 0.9);
            width: 416px;
            height: 312px;
            display: flex;
            justify-content: center;
            align-items: center;
            transition: 0.2s linear;
            i {
              font-size: 60px;
              color: #fff;
              display: flex;
            }
          }
        }
      }
  
      .lines {
        width: 440px;
        height: 420px;
        margin: 0 0 24px;
        .logo {
          margin-left: 10px;
          background-image: url(https://startbootstrap.github.io/startbootstrap-agency/assets/img/portfolio/4.jpg);
          background-size: cover;
          background-repeat: no-repeat;
          background-size: contain;
          width: 416px;
          height: 312px;
        }
        .caption {
          margin-left: 11px;
          justify-content: center;
          background-color: #fff;
          text-align: center;
          padding: 24px;
          width: 367px;
          height: 60px;
          h1 {
            margin-bottom: 5px;
            font-size: 24px;
            font-weight: 700;
            font-family: "Montserrat", -apple-system, BlinkMacSystemFont,
              "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif,
              "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol",
              "Noto Color Emoji";
            color: #212529;
          }
          p {
            font-weight: 400;
          }
        }
        .plus {
          i {
            display: none;
          }
        }
        .logo:hover {
          .plus {
            position: absolute;
            background-color: rgba(255, 200, 0, 0.9);
            width: 416px;
            height: 312px;
            display: flex;
            justify-content: center;
            align-items: center;
            transition: 0.2s linear;
            i {
              font-size: 60px;
              color: #fff;
              display: flex;
            }
          }
        }
      }
  
      .southwest {
        width: 440px;
        height: 420px;
        margin: 0 0 24px;
        .logo {
          margin-left: 10px;
          background-image: url(https://startbootstrap.github.io/startbootstrap-agency/assets/img/portfolio/5.jpg);
          background-size: cover;
          background-repeat: no-repeat;
          background-size: contain;
          width: 416px;
          height: 312px;
        }
        .caption {
          margin-left: 11px;
          justify-content: center;
          background-color: #fff;
          text-align: center;
          padding: 24px;
          width: 367px;
          height: 60px;
          h1 {
            margin-bottom: 5px;
            font-size: 24px;
            font-weight: 700;
            font-family: "Montserrat", -apple-system, BlinkMacSystemFont,
              "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif,
              "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol",
              "Noto Color Emoji";
            color: #212529;
          }
          p {
            font-weight: 400;
          }
        }
        .plus {
          i {
            display: none;
          }
        }
        .logo:hover {
          .plus {
            position: absolute;
            background-color: rgba(255, 200, 0, 0.9);
            width: 416px;
            height: 312px;
            display: flex;
            justify-content: center;
            align-items: center;
            transition: 0.2s linear;
            i {
              font-size: 60px;
              color: #fff;
              display: flex;
            }
          }
        }
      }
  
      .window {
        width: 440px;
        height: 420px;
        margin: 0 0 24px;
        .logo {
          margin-left: 10px;
          background-image: url(https://startbootstrap.github.io/startbootstrap-agency/assets/img/portfolio/6.jpg);
          background-size: cover;
          background-repeat: no-repeat;
          background-size: contain;
          width: 416px;
          height: 312px;
        }
        .caption {
          margin-left: 11px;
          justify-content: center;
          background-color: #fff;
          text-align: center;
          padding: 24px;
          width: 367px;
          height: 60px;
          h1 {
            margin-bottom: 5px;
            font-size: 24px;
            font-weight: 700;
            font-family: "Montserrat", -apple-system, BlinkMacSystemFont,
              "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif,
              "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol",
              "Noto Color Emoji";
            color: #212529;
          }
          p {
            font-weight: 400;
          }
        }
        .plus {
          i {
            display: none;
          }
        }
        .logo:hover {
          .plus {
            position: absolute;
            background-color: rgba(255, 200, 0, 0.9);
            width: 416px;
            height: 312px;
            display: flex;
            justify-content: center;
            align-items: center;
            transition: 0.2s linear;
            i {
              font-size: 60px;
              color: #fff;
              display: flex;
            }
          }
        }
      }
    }
  }